

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" >
<head>
    <title>C Manager Web | Chip Inside</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


<style type="text/css">
@media (min-width: 768px) {
.form-signin {
    max-width: 380px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin-inner{
    padding: 9px 29px 29px;
}
.form-signin .form-signin-heading, .form-signin .checkbox, .form-signin h2 {
    margin-bottom: 30px;
}
.form-signin .form-actions{
    margin: 0;
}
#id_username, #id_password{
    display: block;
    font-size: 16px;
    height: 35px;
    width: 100%;
    border: 1px rgba(10, 17, 100, 0.85);
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 2px 13px rgba(0,0,0,.3);
}
}
</style>
    <!-- Le styles, placed after extrastyle to correctly override default styling -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/overrides.css" />

    <!-- <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" /> -->
    <script type="text/javascript">
    //<![CDATA[
        window.__admin_media_prefix__ = "/static/admin/";
        window.__admin_utc_offset__ = "0";
    //]]>
    </script>
    <script src="/static/admin/js/jquery-1.9.1.min.js"></script>
    <script src="/static/admin/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE" />
    <script type="text/javascript">
    //<![CDATA[
            (function($) {
                $(document).ready(function() {
                    $('input[type="submit"]').addClass('btn');
                    $('[title]').tooltip();
                });
            }(jQuery));
    //]]>
    </script>
</head>
<body class="">

<!-- Container -->
<div class="container">
    <!-- Header -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/admin/">C Manager Web</a>
                </div>
                <div id="header-navbar-collapse" class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- END Header -->
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>
    <!-- Content -->
    <div id="content" class="colM">

        <div id="content-main">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <form class="form-signin" action="{% url 'django.contrib.auth.views.login' %}" method="post" id="login-form">
                {% csrf_token %}
              <div class="form-signin-inner">
                  <h2>Login</h2>
                  <div class="form-group">
                    <label for="id_username" class="required">Usuário</label>
                      <p class="text-danger"></p>
                    <input id="id_username" maxlength="254" name="username" type="text" value="{{ username }}"/>
                  </div>
                  <div class="form-group">
                      <p class="text-danger"></p>
                    <label for="id_password" class="required">Senha</label>
                      <p class="text-danger"></p>
                    <input id="id_password" name="password" type="password" value=""/>
                  </div>

                  <div class="form-actions clearfix">
                      <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-block" />
                      <input type="hidden" name="next" value="/" />
                  </div>
              </div>
            </form>
        </div>
        <script type="text/javascript">
        $(document).ready(function() {
          $('#id_username').attr('autocapitalize', 'off').focus();
        })
        </script>


    </div>
    <!-- END Content -->

    <footer id="footer"></footer>
</div>
<!-- END Container -->

</body>
</html>